<ion-view id="gre-challenge" ng-attr-title="{{title}}" >
  <ion-content>

    <div class="card challenge-card" id="unfamiliar" ng-click="goCards()">
      <div class="item item-text-wrap card-body">
        <h1>New Words Challenge</h1>
        <p>50 words</p>
      </div>
      <div class="card-foot"></div>
    </div>

    <div class="card challenge-card" id="all-word" ng-click="goCards()">
      <div class="item item-text-wrap card-body">
        <h1>All Words Challenge</h1>
        <p>50 words</p>
      </div>
    </div>
  </ion-content>
</ion-view>
